<nav></nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <section class="signin" id="signin">
                <div class="signin-form-container">
                
                    <i class="fas fa-times" id="form-close"></i>
                
                    <form action="">
                        <h3>Sign in</h3>
                        <input type="text" class="box" placeholder="enter your username">
                        <input type="number" class="box" placeholder="enter your age">
                        
                        <input type="number" class="box" placeholder="enter your contact number">
                        <input type="email" class="box" placeholder="enter your email">
                        <input type="password" class="box" placeholder="enter your password">
                        <input type="submit" value="sign in now" class="btn">
                        
                        
                    </form>
                
                </div>
                </section>
        </div>
    </div>
</div>

