<nav></nav>


<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <section class="booking" id="booking">
                <div class="booking-form-container">
                
                    <i class="fas fa-times" id="form-close"></i>
                
                    <form action="">
                        <h3>Book your Destination</h3>
                        
                        
                        <br>

                        <input type="text" class="box" placeholder="check in date">
                        <input type="text" class="box" placeholder="check out date">
                        <input type="text" class="box" placeholder="package type">
                        <input type="text" class="box" placeholder="adults & children">
                       
                        <input type="submit" value="book now" class="btn">
                        
                        
                    </form>
                
                </div>
                </section>
        </div>
    </div>
</div>